.track-list {
    width: 100%;
    box-sizing: border-box;
    padding: 0 5px;
    margin-bottom: 10px;
}

.selected {
    border: 1px solid #7E22CE;
}

.all-selector {
    margin: 0 5px;
    max-height: 0;
    width: 15px;
    overflow: hidden;
    transition: max-height 1s ease;
}

.all-selector.active {
    border: 2px solid #7E22CE;
    background: transparent;
    border-radius: 5px;
    max-height: 15px;
    height: 15px;
    transition: max-height 0.2s linear;
}

.all-selector.active.all {
    background: #6010c3;
}